<div class="modal-dialog">
    <button type="button" class="modal-close button button--icon _animate" data-dismiss="modal">
    <img src="{{ url_for('static', filename='images/close.svg') }}" onload="SVGInject(this)" />
    <span class="sr-only">Zatvori modal</span>
</button>
    <header class="modal-header">
    <h2 class="modal-title">Obustava obračuna zatezne kamate za razdoblje trajanje posebnih okolnosti</h2>
</header>
    <div class="modal-body">
        <p>Za razdoblje od 18.04.2020. do 18.10.2020. godine ne teče zatezna kamata sukladno:</p>
        <ul class="list-bulleted-circle">
            <li>Zakonu o provedbi ovrhe na novčanim sredstvima (NN 68/18, 02/20, 46/20, 47/20) - članak 25.a i članak 25.b.</li>
            <li>Zakonu o interventnim mjerama u ovršnim i stečajnim postupcima za vrijeme trajanja posebnih okolnosti (NN 53/20) - članak 7.</li>
            <li>Odluci o produženju roka trajanja posebnih okolnosti (NN 83/2020)</li>
        </ul>
        <p>Privremeni prestanak tijeka obračuna zateznih kamata odnosi se na sva potraživanja, neovisno je li dužnik pravna ili fizička osoba. </p>
    </div>
</div>